.intro-top-wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url('../../public/cbnu_img.jpg'); /* public/images/background.jpg 경로에 이미지 추가 */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 처리 */
  z-index: 1;
}

.intro-text-container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.intro-title {
  font-size: 48px;
  font-weight: bold;
}

.blue-dot {
  color: yellow;
}

.intro-subtitle {
  margin-top: 12px;
  font-size: 20px;
}
